{{#each erro}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
{{/each}}
<h3>Novo aluno</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/add" method="POST">
            <label for="email">Email:</label>
                <input type="email" name="emailAdmin" id="emailAdmin" placeholder="email do aluno" class="form-control">
        
            <label for="senhaAdmin">Senha:</label>
                    <input type="password" name="senhaAdmin" id="senhaAdmin" placeholder="Criando senha" class="form-control">
            
            <label for="senha2Admin">Repita a sua senha:</label>
                    <input type="password" name="senha2Admin" id="senha2Admin" placeholder="Digite a senha novamente" class="form-control" >
            <br>
            <button type="submit" class="btn btn-dark">Criar aluno</button>
        </form>
    </div>
</div>